@model Prenotazione

@{
    ViewData["SignUp"] = Model;
}

<div class="text-center">
    <h1 class="display-4">Conferma</h1>

    <div class="text-center">
        @* <p>Name: @Context.Session.GetString("NomeUtente")</p> *@
        <h4>Riepilogo registrazione:</h4>
        <p> Username: @Context.Session.GetString("Username") <br> Nome: @Context.Session.GetString("NomeUtente") @Context.Session.GetString("CognomeUtente") <br> Email: @Context.Session.GetString("EmailUtente") <br> Data di nascita: @Context.Session.GetString("NascitaUtente") <br> Sesso: @Context.Session.GetString("SessoUtente") <br> Ruolo: @Context.Session.GetString("RuoloUtente")</p>
        @{

            /*try
            {
                <h4>Riepilogo registrazione:</h4>
                <p> Nome: @Model.Nome @Model.Cognome <br> Email: @Model.Email <br> Data di nascita: @Model.dataNascita <br> Sesso: @Model.sesso <br> Ruolo: @Model.ruolo</p>
            }
            catch
            {

            }*/
        }
        <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'"/>
    </div>
</div>